/* Shrivastava, Jatin - 1002032011
Suresh, Shobika – 1002077439
Sing, Karanjot - 1001949016
Gampa, Sai Gayathri - 1002090414
 Kumar, Harihar Omkarachari Suprith - 1001880333
 */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

 * {
   margin: 0;
   padding: 0;
   -sizing: border-box;
   font-family: "Poppins", sans-serif;
 }

.resident{
    .table-time{
        min-width: 50px;
    }
    .report{
        margin-top: 40px;
    }
    .report-header{
        text-align: center;
    }
    .recent-Articles{
        padding: 20px 0;
    }
    .type-select{
        height:30px;
        margin:20px;
        font-size: 20px;
    }

 .search_bar,
 .message,
 .logo_section {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
  }
 
 .search_bar2 {
   display: none;
 }
 
 .logo_section {
   gap: 60px;
 }

 .table-container {
  position: relative;
  // z-index: 1;
}

 
 .dropdown-container {
  position: relative;

  .dropdown-icon {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;

    li {
      list-style: none;
      margin: 0;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }
}


 .search_bar {
   width: 250px;
   height: 42px;
   border-radius: 50px 0 0 50px;
   background-color: var(--background-color3);
   padding: 0 20px;
   font-size: 15px;
   outline: none;
   border: none;
 }
 .search_button {
   width: 50px;
   height: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 0px 50px 50px 0px;
   background-color: var(--secondary-color);
   cursor: pointer;
 }
 
 .message {
   gap: 40px;
   padding-right: 20px;
   position: relative;
   cursor: pointer;
 }
 .circle {
   height: 7px;
   width: 7px;
   position: absolute;
   background-color: #fa7bb4;
   border-radius: 50%;
   left: 19px;
   top: 8px;
 }
 .dp {
   height: 40px;
   width: 40px;
   background-color: #626262;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
 }
 .main-container {
   display: flex;
   width: 100vw;
   position: relative;
   z-index: 1;
 }
 .dp_icon {
   height: 42px;
 }
 
 .main {
   width: 100%;
//    overflow-y: scroll;
//    overflow-x: hidden;
   padding: 40px 30px 30px 30px;
 }
 
 .main::-webkit-scrollbar-thumb {
   background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
 }
 .main::-webkit-scrollbar {
   width: 5px;
 }
 .main::-webkit-scrollbar-track {
   background-color: #9e9e9eb2;
 }
 
 .box-container,
 .button-container {
   display: flex;
   justify-content: center;  ;   
   align-items: center;
   flex-wrap: wrap;
   gap: 40px;
   padding: 5% 0;
   .button{
    background-color: #aeaeae;
    border: none;
   }
 }
 .nav {
   min-height: 91vh;
   width: 250px;
   background-color: #a8abab;
   position: absolute;
   top: 0px;
   left: 00;
   box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden;
   /* padding: 30px 0 20px 10px; */
 }
 .navcontainer {
   height: calc(100vh - 70px);
   width: 350px;
   position: relative;
   overflow-y: scroll;
   overflow-x: hidden;
   transition: all 0.5s ease-in-out;
 }
 .navcontainer::-webkit-scrollbar {
   display: none;
 }
 .navclose {
   width: 80px;
 }
 .nav-option {
   width: 250px;
   height: 60px;
   display: flex;
   align-items: center;
   padding: 0 30px 0 20px;
   gap: 20px;
   transition: all 0.1s ease-in-out;
 }
 .nav-option:hover {
   border-left: 5px solid #a2a2a2;
   background-color: #dadada;
   cursor: pointer;
 }
 .nav_image {
   height: 30px;
 }
 
 .nav-upper-options {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
 }
 
 .option1 {
   border-left: 5px solid #010058af;
   background-color: #6bc8b8;
   color: white;
   cursor: pointer;
 }
 .option1:hover {
   border-left: 5px solid #010058af;
   background-color: var(--Border-color);
 }
 .box {
   height: 130px;
   width: 230px;
   border-radius: 20px;
   box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
   padding: 20px;
   display: flex;
   background-color: #e50914;
   align-items: center;
   justify-content: space-around;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
 }
 
 .button {
   height: 80px;
   width: 180px;
   border-radius: 20px;
   box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
 }
 
 .button:nth-child(1) {
//    background-color: var(--one-use-color);
   color: white;
   font-size: 15px;
   font-weight: 400;
 }
 .button:nth-child(2) {
//    background-color: var(--two-use-color);
   color: white;
   font-size: 15px;
   font-weight: 400;
 }
 .button:nth-child(3) {
//    background-color: var(--two-use-color);
   color: white;
   font-size: 15px;
   font-weight: 400;
 }
 .button:nth-child(4) {
//    background-color: var(--two-use-color);
   color: white;
   font-size: 15px;
   font-weight: 400;
 }
 .button:nth-child(5) {
//    background-color: var(--two-use-color);
   color: white;
   font-size: 15px;
   font-weight: 400;
 }
 .button:nth-child(6) {
//    background-color: var(--two-use-color);
   color: white;
   font-size: 15px;
   font-weight: 400;
 }
 
 .button:hover {
   transform: scale(1.08);
 }
 
 .box:hover {
   transform: scale(1.08);
 }
 
 
 .box img {
   height: 50px;
 }
 .box .text {
   color: white;
 }

 .topic {
   font-size: 13px;
   font-weight: 400;
   letter-spacing: 1px;
 }
 
 .topic_heading {
   letter-spacing: 3px;
 }
 
 .report_Container {
   min-height: 300px;
   max-width: 1200px;
   margin: 50px auto 0px auto;
   background-color: #ffffff;
   border-radius: 30px;
   box-shadow: 3px 3px 10px rgb(188, 188, 188);
   padding: 0px 20px 20px 20px;
 }
 
 .report_Header {
   height: 80px;
   /* width: 100%; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 20px 10px 20px;
   border-bottom: 2px solid rgba(0, 20, 151, 0.59);
 }
 
 .recent_Articles {
   font-size: 30px;
   font-weight: 600;
   color: #6bc8b8;
 }
 
 .view {
   height: 35px;
   width: 90px;
   border-radius: 8px;
   background-color: #e50914;
   color: white;
   font-size: 15px;
   border: none;
   cursor: pointer;
 }
 
 .report-body {
  //  overflow-x: auto;
   padding: 20px;
 }
 .report_topic_heading,
 .item1 {
   width: 800px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .t-op {
   font-size: 18px;
   letter-spacing: 0px;
 }
 
 .items {
   width: 800px;
   margin-top: 15px;
 }
 
 .item1 {
   margin-top: 20px;
 }
 .t-op-nextlvl {
   font-size: 14px;
   letter-spacing: 0px;
   font-weight: 600;
 }
 
 .lavel-tag {
   width: 100px;
   text-align: center;
   background-color: rgb(0, 177, 0);
   color: white;
   border-radius: 4px;
 }
 
 .container {
   margin-top: 30px;
   width:80%;
   margin:auto;
 }

 .sticky-top {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
 }

 .sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
 }
 
 .table {
   width: 80%;
   margin: 40px auto;
 }
 
 table.list {
   text-align: center;
   width: 100%;
 }
 
 td {
   border: 1px solid rgba(0, 20, 151, 0.59);
   text-align: center;
   padding: 8px;
 }
 
 tr:nth-child(even),
 table.list thead > tr {
    // background-color: #aeaeae;
    color: #000000;
 }

.vehicle-submit {
  height: 32px;
width: 150px;
border-radius: 8px;
background-color: #e50914;
color: white;
font-size: 15px;
border: none;
cursor: pointer;
}
 
 input[type="text"],
 input[type="number"],
 input[type="email"],
 input[type="tel"] {
   width: 91%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid;
   border-radius: 4px;
 }
 
 input[type="submit"],
 input[type="reset"] {
   padding: 6px 12px;
   margin: 15px 0 10px;
   display: inline-block;
   border: none;
   border-radius: 30px;
   font-size: 1rem;
   cursor: pointer;
   outline: none;
 }
 
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 button:hover {
   background: #626262;
 }
 
 .dropdown-nav {
   display: none;
 }
 
 
 .dropbtn {
   background-color: #3f0097;
   color: white;
   padding: 12px;
   font-size: 14px;
   border: none;
   cursor: pointer;
   width: 100%;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
   width: 100%;
 }
 
 .dropdown-content {
   z-index: 2;
   width: 100%;
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }
 
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {
   background-color: #e0e0e0;
 }
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 
    .form-container{
        display: flex;
        align-items: flex-start;
        border: 1px solid #000;
        form{
            padding: 10px;
            border-right: 1px solid #000;
        }
        .left{
            input{
                width: 100%;
            }
        }
        .right{
            padding:10px;
            width:100%;
            overflow-x: scroll;
        }
    }

}

.tab-toggle{
    text-align: center;
    display: flex;
    justify-content: center;
    button{
        cursor: pointer;
        width:120px;
        background: #626262;
        border: none;
        border-radius: 0;
        &:hover{
            background: #e50914;
        }
        font-size: 17px;
    }
    .active{
        background: #e50914;
    }
}
 
@media screen and (max-width: 756px) {
    .resident{
        .container{
            width:100%
        }
        table{
            font-size: 12px;
        }
        .box-container{
            justify-content: center;
        }
        .form-container{
            display: block;
        }
    }
    .box {
        height: 150px!important;
        width: 135px!important;
        border-radius: 20px;
        box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
        padding: 15px!important;
        display: flex;
        background-color: #aeaeae;
        align-items: center;
        justify-content: center;
        // justify-content: space-around;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        h2{
            font-size: 15px;
        }
    }
}


.home-section{
    display: inline;
    text-align: center;
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidemenu.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  
  .home-section-payment h4, .home-section-visitor h4, .home-section-mails h4, .home-section-vehicle h4, .home-section-services h4{
    // color: #f37424;
    font-size: 25px;
    font-weight: 500;
  }
  
  .home-section-payment, .home-section-visitor, .home-section-mails, .home-section-vehicle, .home-section-services{
      // margin: 50px 30px 20px 40px;
      background-color: #fff;
      padding: 25px;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  }
  .home-section-payment{
      width: 400px;
      height: 300px;
  }
  .home-section-visitor{
      width: 300px;
      height: 300px;
  }
  .home-section-mails{
      width: 300px;
      height: 300px;
  }
  .home-section-vehicle{
    width: 50vw;
  }
  .home-section-services{
    width: 400px;
    height: 300px;
  }
  .home-section-payment button, .home-section-visitor button, .home-section-mails button, .home-section-vehicle button{
      background-color: #f37424;
      color: #fff;
      font-weight: 500;
      border: none;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

// .menu-container {
//     margin-top: 70px;
//   }

// /* Web View */
// .side-menu {
//   display: flex;
//   flex-direction: column;
//   width: 200px;
//   background-color: #f2f2f2;
//   height: 100vh;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -0;
//   overflow-x: hidden;
// }

// .side-menu li {
//   display: block;
//   margin: 10px 0;
// }

// .side-menu li a {
//   color: #333;
//   text-decoration: none;
//   display: block;
//   padding: 10px;
// }

// /* Mobile View */
// @media only screen and (max-width: 768px) {

//   .menu {
//     display: none;
//   }
//   /* Show the menu on click */
//   .menu-toggle {
//     display: block;
//     font-size: 1.5rem;
//     margin: 10px;
//     cursor: pointer;
//   }

//   .side-menu {
//     width: 100%;
//   }

//   .side-menu .dropdown {
//     position: relative;
//   }

//   .side-menu .dropdown > a:after {
//     content: '\f078';
//     font-family: 'FontAwesome';
//     font-size: 14px;
//     color: #333;
//     position: absolute;
//     right: 10px;
//     top: 50%;
//     transform: translateY(-50%);
//   }

//   .side-menu .dropdown .dropdown-menu {
//     display: none;
//     position: absolute;
//     left: 100%;
//     top: 0;
//     background-color: #f2f2f2;
//     width: 100%;
//     z-index: 101;
//   }

//   .side-menu .dropdown .dropdown-menu li {
//     display: block;
//   }

//   .side-menu .dropdown .dropdown-menu li a {
//     color: #333;
//     text-decoration: none;
//     display: block;
//     padding: 10px;
//   }

//   .side-menu .dropdown.show .dropdown-menu {
//     display: block;
//   }
// }


// /* Style for desktop view */
// @media (min-width: 769px) {
//   /* Display the menu */
  
//   /* Hide the toggle button */
//   .menu-toggle {
//     display: none;
//   }
//   /* Style for the dropdown menu */
//   // .dropdown-menu {
//   //   position: absolute;
//   //   background-color: #f2f2f2;
//   //   z-index: 1;
//   //   display: none;
//   // }
//   // .dropdown-menu li {
//   //   padding: 10px;
//   // }
//   // /* Show the dropdown menu on hover */
//   // .dropdown:hover .dropdown-menu {
//   //   display: block;
//   // }
// }

#resident-dashboard-amenity-modal{
  .container{
    width:100%;
  }
}