  /* Shrivastava, Jatin - 1002032011
Suresh, Shobika – 1002077439
Sing, Karanjot - 1001949016
Gampa, Sai Gayathri - 1002090414
 Kumar, Harihar Omkarachari Suprith - 1001880333
 */
 @import "./pages/login/login.scss";

.App{
  // height: 100vh;
  position: relative;
}
.text-left{
  text-align: left!important;
}

.text-center{
  text-align: center!important;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  color: rgb(47, 141, 70);
}

.app-container{
  margin-top:70px;
  min-height: 95vh;
}

.chatbot{
  position: fixed;
  bottom:0;
  right:20px;
  background-color: #fff;
}


.custom-btn{
  padding:10px;
  background-color: #e50914;
  border-radius: 5px;
  color:#fff!important;
  display:flex;
  justify-content: center;
  align-items: center;
  // font-size: 20px;
}

.form_action--button{
  display: flex;
  justify-content: space-around;
}

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}

.d-grid {
  display: grid;
}

.w-100 {
  width: 100vw;
}

.w-50 {
  width: 50vw;
}

.w-25 {
  width: 25vw;
}

.mt-5 {
  margin-top: 5rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-1 {
  margin-top: 1rem;
}

.pt-5{
  padding-top: 5rem;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.m-auto{
  margin:auto
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.edit-employee{
  .edit-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
      height:30px;
      width: 130px!important;
    }
  }
}


// input, select{
//   box-sizing: border-box!important;
// }